.filter-posts {
height: 10vh;
width: 100%;
background-color: rgb(26, 26, 26);
border: solid rgb(52, 52, 52);
border-radius: 1rem;
position: relative;
}

.btn {
    color: rgb(148, 148, 148) !important;
    font-weight: 900;
}

.btn:hover {
    color: rgb( 220, 220, 220) !important;
}