.signup-form-container {
    height: 100vh;
    width: 60vw;
    max-width: 500px;
}

.signup-form {
    height: 50vh;
}

.button-box {
    text-align: center;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.signup {
    /* width: 30%; */
    height: fit-content;
}

.signin {
    width: fit-content;
    height: fit-content;
}

.signup-text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: pink
}